@charset "utf-8";
/* CSS Document */

#right {
	width:400px;
}
#right h1 {
	color: #e80378;
}
.dataholder {
	width:370px;
}
.dataholder p {
	font-family: Arial;
	font-size:14px;
}
p.date {
	font-weight:bold;
}
.line {
	width:370px;
	height:1px;
	background-color:#999;
}
