.main {
	position: relative;
	margin: 0 auto;
	width: 868px;
	font-family: Arial, Helvetica, Verdana, Sans-serif;
}

.header {
	position: relative;
	top: 0px;
	padding-top: 10px;
	background: white;
	border: 0px;
}

.leftTabContent {
	float: left;
}

.leftTabContent,.rightTabContent {
	width: 426px;
}

.rightTabContent {
	float: right;
}

.votes {
	height: 600px;
	overflow: auto;
	overflow-x: hidden;
}

h1 {
	color: #e80378;
	font-size: 26px;
}

h1 span.black{
	color: #000000;
}

img.title{
	padding-top: 40px;
	padding-bottom: 20px;
}

.animatedText{
	clear: both;
	text-align: center;
	font-size:100%;
	color: #e80378;
	position: absolute;
	font-weight: bold;
	margin: 0 auto;
	top: 130px;
	padding: 20px;
	left: 40px;
	width: 330px;
}

@keyframes blink {  
    0% { color: #FFFFFF; }
    100% { color: #e80378; }
}
@-webkit-keyframes blink {
    0% { color: #FFFFFF; }
    100% { color: #e80378; }
}

.blink {
    -webkit-animation: blink 0.5s linear infinite;
    -moz-animation: blink 0.5s linear infinite;
    animation: blink 0.5s linear infinite;
} 