*{
	font-size: 11px;
}

.oi{
	
	width: 330px;
	height: 292px;
	position: absolute;
}

.brown-bag{
	position: relative;
	bottom: 0px;
	width: 330px;
	height: 292px;
	overflow: hidden;	
	display: block;
	background: url("../images/brown_bag.png") no-repeat left center;
}

.pink-bag{
	position: absolute;
	bottom:0px;
	background: url("../images/pink_bag.png")  no-repeat bottom center;
	height: 70%;
	width: 330px;
	overflow: hidden;
}