.data_holder {
	width:370px;
	padding-bottom: 5px;
    padding-left: 5px;
    padding-top: 5px;
}

.past {
	background-color:#cac2c2;
	color:grey;
}

.data_holder p {
	font-family: Arial;
	font-size:14px;
}
p.date {
	font-weight:bold;
}
.line {
	width:375px;
	height:1px;
	background-color:#999;
}
