.data_holder {
	padding-bottom: 5px;
    padding-left: 15px;
    padding-top: 5px;
    border-bottom:1px solid #CECECE;
}

.past {
	background-color:#EFEFEF;
	color:grey;
}

.data_holder p {
	font-family: Arial;
	font-size:14px;
}
p.date {
	font-weight:bold;
	text-transform: uppercase;
}
.line {
	width:375px;
	height:1px;
	background-color:#999;
}
